<ion-header>

  <ion-toolbar style="--background: #1b0909;">
    <div style="display: flex; justify-content: space-between; align-items: top; margin-top: 12px;">
      <ion-buttons slot="start" >
        <ion-back-button style="color:white;"></ion-back-button>
      </ion-buttons>
      <ion-title style="color:white; position: relative;">I have drunk</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="openEditProfile()">
          <ion-icon style="color:white;" slot="start"name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div style="display: flex;">
      <ion-buttons slot="start">
        <ion-button style="color:white;"  (click)="getSortedDrunks()"><ion-icon slot="start" name="refresh"></ion-icon></ion-button>
        <ion-button style="color:white;" (click)="filterByDate()"><ion-icon [name]="toShowIcon"></ion-icon></ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Search your drinken drinks." (ionInput)="onSearch($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <p style="width:100%; text-align: center;" *ngIf="drunkCocktails.length == 0; else eventsListBlock">
    No events on my list.
  </p>
  <ng-template #eventsListBlock>
    <ion-list lines="full">
      <ion-item *ngFor="let cocktail of drunkCocktails; index as i">
        <div style="display: flex; width: 100%; align-items: center; justify-content: space-between; padding: 5px;">
          <div style="display: flex; align-items: center;">
            <ion-thumbnail>
              <img [src]="cocktail.strDrinkThumb"/>
            </ion-thumbnail>
            <p style="font-size: 14px; margin-left: 6px;">{{ cocktail.strDrink }}</p>
          </div> 
        </div>
        <ion-button (click)="openDrunkCocktail(i)" style="--background: #1b0909;" >
          <ion-icon slot="icon-only" name="information-circle-outline"></ion-icon>
        </ion-button> 
        <ion-button (click)="removeCocktail(i)" style="--background: #1b0909;" >
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button> 
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
