<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label class="drinkLabel">    
      <ion-thumbnail>
        <img  id="logo" src="assets/icon/favicon.png" />
      </ion-thumbnail>
    </ion-label>

    <ion-buttons slot="end">
      <ion-label class="drinkLabel">{{ user.name }}</ion-label>
      <ion-button class="profile" (click)="openProfile()">
          <img [src]="user.photo" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search drinks." (ionInput)="onSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list lines="none">
    <ion-item *ngFor="let cocktail of cocktails">
      <ion-thumbnail>
        <img [src]="cocktail.strDrinkThumb" />
      </ion-thumbnail>
      <ion-label class="drinkLabel">{{ cocktail.strDrink }}</ion-label> 
      <ion-button  (click)="drunkDrink(cocktail)" shape="round">
      to drink
      </ion-button>
    </ion-item>
  </ion-list>
  
</ion-content>
