<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-label class="drinkLabel">    
      <ion-thumbnail>
        <img  id="logo" src="assets/icon/favicon.png" />
      </ion-thumbnail>
    </ion-label>

    <ion-buttons slot="end">
      <ion-label class="drinkLabel">{{ user.name }}</ion-label>
      <ion-button class="profile" (click)="openProfile()">
          <img [src]="user.photo" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search your drinks." (ionInput)="onSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="cocktails.length > 0"lines="none">
    <ion-item *ngFor="let cocktail of cocktails">
      <label class="drinkLabel"><ion-thumbnail>
        <img [src]="cocktail.strDrinkThumb" />
      </ion-thumbnail></label>
      <ion-label class="drinkLabel">{{ cocktail.strDrink }}</ion-label>
      <ion-button (click)="drunkDrink()" shape="round">
        drink
      </ion-button>
    </ion-item>
  </ion-list>
  <p class="ion-padding" *ngIf="cocktails.length === 0">No cocktails.</p>
</ion-content>
